body {
    font-family: Arial, sans-serif;
}

#tree-map {
    width: 1000px;
    height: 600px;
}

#tooltip {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    display: none;
}

#legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.legend-item {
    margin-right: 10px;
}